<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
			<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
		 crossorigin="anonymous">
		<link rel="stylesheet" href="./css/index-style.css">
		<title>VN商城-用户操作</title>
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
	<body>
		<nav class="navbar sticky-top navbar-light bg-light" id="topNav">
			<a class="navbar-brand font-italic font-weight-bolder font-weight-lighter" href="#">小商小贩</a>
			<div class="btn-group" role="group" aria-label="Basic example">
				<h1>用户操作页面</h1>
			</div>
		</nav>
		
		<a href="#">添加商品分类</a>
		<br/>
		<a href="#">添加商品</a>
		<br/>
		<a href="#">注销用户</a>
		<br/>
	</body>
</html>
