<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devin.mapper.ProductMapper">

    <select id="queryCount" parameterType="int" resultType="com.devin.entity.Product">
        select count from test.product where id=#{id};
    </select>

    <update id="updateCount" parameterType="com.devin.entity.Product">
        update test.product set count=#{count} where id=#{id};
    </update>

    <select id="queryPrice" parameterType="int" resultType="com.devin.entity.Product">
        select price from test.product where id=#{id};
    </select>

</mapper>
