# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\spring_boot_test\last_project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
